{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="wpb_content_element" data-interval="0">
        <div class="wpb_wrapper tabbed clearfix" data-style="vertical" data-animation="" data-spacing=""
            data-icon-size="" data-full-width-line="" data-color-scheme="accent-color" data-alignment="left">

            <!-- Tabs Navigation -->
            <ul class="wpb_tabs_nav ui-tabs-nav clearfix">
                <li class="tab-item"><a role="button" href="#beginner-session"><span>Beginner Session</span></a></li>
                <li class="tab-item"><a role="button" href="#beginner-lesson"><span>Beginner Lesson</span></a></li>
                <li class="tab-item"><a role="button" href="#waikiki-session"><span>Waikiki Session</span></a></li>
                <li class="tab-item"><a role="button" href="#waikiki-lesson"><span>Waikiki Lesson</span></a></li>
                <li class="tab-item"><a role="button" href="#intermediate-session"><span>Intermediate Session</span></a></li>
                <li class="tab-item"><a role="button" href="#intermediate-lesson"><span>Intermediate Lesson</span></a></li>
                <li class="tab-item"><a role="button" href="#advanced-session"><span>Advanced Session</span></a></li>
                <li class="tab-item"><a role="button" href="#advanced-lesson"><span>Advanced Lesson</span></a></li>
                <li class="tab-item"><a role="button" href="#advanced-plus-session"><span>Advanced Plus Session</span></a></li>
                <li class="tab-item"><a role="button" href="#expert-turns-session"><span>Expert Turns Session</span></a></li>
                <li class="tab-item"><a role="button" href="#expert-barrels-session"><span>Expert Barrels Session</span></a></li>
            </ul>
            

            
            <div id="beginner-session" class="wpb_tab active">
                <!-- Beginner Session Block -->
                <div class="vc_row-fluid vc_row inner_row small-margin-row">
                    <div class="vc_col-sm-6 vc_col-xs-12">
                        <h6>Beginner Session</h6>
                        <p>If you’ve already started your surfing journey with a lesson or two, then our Beginner Surf Sessions are a great next step.</p>
                    </div>
                    <div class="vc_col-sm-3 vc_col-xs-12 prices">
                        <h6>Prices:</h6>
                        <ul>
                            <li>£40</li>
                        </ul>
                    </div>
                    <div class="vc_col-sm-3 vc_col-xs-12">
                        <!-- Book Now Button -->
                        <a href="{% url 'make_booking' %}" class="btn btn-primary btn-lg" role="button" aria-label="Book an appointment now">Book Now</a>
                    </div>
                </div>
            </div>

            
            <div id="beginner-lesson" class="wpb_tab">
                
                <div class="vc_row-fluid vc_row inner_row small-margin-row">
                    <div class="vc_col-sm-6 vc_col-xs-12">
                        <h6>Beginner Lesson</h6>
                        <p>Beginner Surf Lessons are a mixture of dry land training and in-wave action. They take place in the small white water waves in The Bay. These lessons are suitable for all.</p>
                    </div>
                    <div class="vc_col-sm-3 vc_col-xs-12 prices">
                        <h6>Prices:</h6>
                        <ul>
                            <li>£50</li>
                        </ul>
                    </div>
                    <div class="vc_col-sm-3 vc_col-xs-12">
                        <!-- Book Now Button -->
                        <a href="{% url 'make_booking' %}" class="btn btn-primary btn-lg" role="button" aria-label="Book an appointment now">Book Now</a>
                    </div>
                </div>
            </div>
            <div id="waikiki-session" class="wpb_tab">
                
                <div class="vc_row-fluid vc_row inner_row small-margin-row">
                    <div class="vc_col-sm-6 vc_col-xs-12">
                        <h6>Waikiki Session</h6>
                        <p>This is the perfect wave for improvers, but also a really fun wave for more experienced surfers wanting to have a mellow surf.</p>
                    </div>
                    <div class="vc_col-sm-3 vc_col-xs-12 prices">
                        <h6>Prices:</h6>
                        <ul>
                            <li>£45</li>
                        </ul>
                    </div>
                    <div class="vc_col-sm-3 vc_col-xs-12">
                        <!-- Book Now Button -->
                        <a href="{% url 'make_booking' %}" class="btn btn-primary btn-lg" role="button" aria-label="Book an appointment now">Book Now</a>
                    </div>
                </div>
            </div>
            <div id="waikiki-lesson" class="wpb_tab">
                
                <div class="vc_row-fluid vc_row inner_row small-margin-row">
                    <div class="vc_col-sm-6 vc_col-xs-12">
                        <h6>Waikiki Lesson</h6>
                        <p>A surf lesson for experienced beginner surfers who want to progress beyond white water waves in the Beginner Bay and take their first step into The Reef with the support of a coach.</p>
                    </div>
                    <div class="vc_col-sm-3 vc_col-xs-12 prices">
                        <h6>Prices:</h6>
                        <ul>
                            <li>£55</li>
                        </ul>
                    </div>
                    <div class="vc_col-sm-3 vc_col-xs-12">
                        <!-- Book Now Button -->
                        <a href="{% url 'make_booking' %}" class="btn btn-primary btn-lg" role="button" aria-label="Book an appointment now">Book Now</a>
                    </div>
                </div>
            </div>
            <div id="intermediate-session" class="wpb_tab">
                
                <div class="vc_row-fluid vc_row inner_row small-margin-row">
                    <div class="vc_col-sm-6 vc_col-xs-12">
                        <h6>Intermediate Session</h6>
                        <p>Our intermediate surf sessions take place in the reef area of the lake and are perfect for improving your skills and boosting your confidence.</p>
                    </div>
                    <div class="vc_col-sm-3 vc_col-xs-12 prices">
                        <h6>Prices:</h6>
                        <ul>
                            <li>£45</li>
                        </ul>
                    </div>
                    <div class="vc_col-sm-3 vc_col-xs-12">
                        <!-- Book Now Button -->
                        <a href="{% url 'make_booking' %}" class="btn btn-primary btn-lg" role="button" aria-label="Book an appointment now">Book Now</a>
                    </div>
                </div>
            </div>
            <div id="intermediate-lesson" class="wpb_tab">
                
                <div class="vc_row-fluid vc_row inner_row small-margin-row">
                    <div class="vc_col-sm-6 vc_col-xs-12">
                        <h6>Intermediate Lesson</h6>
                        <p>A mixture of a land based lesson and in water training, these lessons take place in the Reef area at the back of the lake and they're all about improving your confidence and technique.</p>
                    </div>
                    <div class="vc_col-sm-3 vc_col-xs-12 prices">
                        <h6>Prices:</h6>
                        <ul>
                            <li>£55</li>
                        </ul>
                    </div>
                    <div class="vc_col-sm-3 vc_col-xs-12">
                        <!-- Book Now Button -->
                        <a href="{% url 'make_booking' %}" class="btn btn-primary btn-lg" role="button" aria-label="Book an appointment now">Book Now</a>
                    </div>
                </div>
            </div>
            <div id="advanced-session" class="wpb_tab">
                
                <div class="vc_row-fluid vc_row inner_row small-margin-row">
                    <div class="vc_col-sm-6 vc_col-xs-12">
                        <h6>Advanced Session</h6>
                        <p>A notable step up from Intermediate with a faster, steeper take off and bigger more powerful waves.</p>
                    </div>
                    <div class="vc_col-sm-3 vc_col-xs-12 prices">
                        <h6>Prices:</h6>
                        <ul>
                            <li>£45</li>
                        </ul>
                    </div>
                    <div class="vc_col-sm-3 vc_col-xs-12">
                        <!-- Book Now Button -->
                        <a href="{% url 'make_booking' %}" class="btn btn-primary btn-lg" role="button" aria-label="Book an appointment now">Book Now</a>
                    </div>
                </div>
            </div>
            <div id="advanced-lesson" class="wpb_tab">
                
                <div class="vc_row-fluid vc_row inner_row small-margin-row">
                    <div class="vc_col-sm-6 vc_col-xs-12">
                        <h6>Advanced Lesson</h6>
                        <p>Are you looking to improve your turns, throw more spray or go more vertical? This session will help you improve your turns and techniques across a combination of manoeuvres.</p>
                    </div>
                    <div class="vc_col-sm-3 vc_col-xs-12 prices">
                        <h6>Prices:</h6>
                        <ul>
                            <li>£60</li>
                        </ul>
                    </div>
                    <div class="vc_col-sm-3 vc_col-xs-12">
                        <!-- Book Now Button -->
                        <a href="{% url 'make_booking' %}" class="btn btn-primary btn-lg" role="button" aria-label="Book an appointment now">Book Now</a>
                    </div>
                </div>
            </div>
            <div id="advanced-plus-session" class="wpb_tab">
                
                <div class="vc_row-fluid vc_row inner_row small-margin-row">
                    <div class="vc_col-sm-6 vc_col-xs-12">
                        <h6>Advanced Plus Session</h6>
                        <p>A step up from our advanced setting, these are bigger, longer waves.</p>
                    </div>
                    <div class="vc_col-sm-3 vc_col-xs-12 prices">
                        <h6>Prices:</h6>
                        <ul>
                            <li>£45</li>
                        </ul>
                    </div>
                    <div class="vc_col-sm-3 vc_col-xs-12">
                        <!-- Book Now Button -->
                        <a href="{% url 'make_booking' %}" class="btn btn-primary btn-lg" role="button" aria-label="Book an appointment now">Book Now</a>
                    </div>
                </div>
            </div>
            <div id="expert-turns-session" class="wpb_tab">
                
                <div class="vc_row-fluid vc_row inner_row small-margin-row">
                    <div class="vc_col-sm-6 vc_col-xs-12">
                        <h6>Expert Turns</h6>
                        <p>Expert Turns Waves Session is a fast and challenging session, full of our most powerful turning waves to test your performance turns.</p>
                    </div>
                    <div class="vc_col-sm-3 vc_col-xs-12 prices">
                        <h6>Prices:</h6>
                        <ul>
                            <li>£50</li>
                        </ul>
                    </div>
                    <div class="vc_col-sm-3 vc_col-xs-12">
                        <!-- Book Now Button -->
                        <a href="{% url 'make_booking' %}" class="btn btn-primary btn-lg" role="button" aria-label="Book an appointment now">Book Now</a>
                    </div>
                </div>
            </div>
            <div id="expert-barrels-section" class="wpb_tab">
                
                <div class="vc_row-fluid vc_row inner_row small-margin-row">
                    <div class="vc_col-sm-6 vc_col-xs-12">
                        <h6>Expert Barrels</h6>
                        <p>Expert Barrel Waves Session is dedicated to our most popular barrel settings. Ride powerful waves with consistent and fun-to-navigate barrels.</p>
                    </div>
                    <div class="vc_col-sm-3 vc_col-xs-12 prices">
                        <h6>Prices:</h6>
                        <ul>
                            <li>£45</li>
                        </ul>
                    </div>
                    <div class="vc_col-sm-3 vc_col-xs-12">
                        <!-- Book Now Button -->
                        <a href="{% url 'make_booking' %}" class="btn btn-primary btn-lg" role="button" aria-label="Book an appointment now">Book Now</a>
                    </div>
                </div>
            </div>

            
            
        </div>
    </div>
</div>
</div>

{% endblock content %}

{% block extras %}
<script src="{% static 'js/sessions.js' %}"></script>
{% endblock %}